blinker==1.8.2
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.4
numpy==2.1.1
torch==2.4.1  # 모델을 사용하는 경우 필요
torchvision==0.19.1  # 이미지 처리 등 모델과 함께 사용할 경우 필요
requests==2.32.3  # 요청 처리에 필요
pandas==2.2.3  # 데이터 처리에 필요
ultralytics==8.3.1  # YOLO 등 모델 사용에 필요
